{% extends 'blog/base.html' %}
{% block content %}
    <h1>About ePIK</h1>
    <div class="content-section">
        <h4>Overview</h4>
        <p>
            ePik is a social network by James Bryce (on-site as Jamey).
            He wrote the site using the <a href="https://www.djangoproject.com/">Django</a> framework and it is currently
            open-source on github. 
        </p>

        <h4>What makes ePIK different?</h4>
        <p>
            ePIK should be a breath of fresh air in a world dominated by Facebook and Twitter. Similar to Tumblr, but unique in style, your data is not collected
            or monetized by the ePIK Social Organization. We are not looking to profit, so we do not target ads at you nor collect your personal information.
        </p>

        <h4>Join our team!</h4>
        <p>
            We need collaborators to develop and administrate the site. 
            Please email <a href="mailto:jybryce4@gmail.com">James</a> if you wish to be a part of our
            volunteer team. Include in the email your full name and relevant experience.
            If you wish to fork the code for your own projects, go ahead!
        </p>

        <img class="img-fluid w-25" src="../../../media/github_logo.png">
        <a class="btn btn-info" href="https://github.com/jybryce4/epik-social">Get the code from Github!</a>
        <img class="img-fluid w-25" src="../../../media/github_logo.png">
    </div>

    <div class="content-section">
        <h4>FAQ</h4>
        <p>Below is a list of frequently asked questions</p>
        
        <em>Why make a social network open-source?</em>
        <p>
            We made ePIK open source because we believe that 
            sharing is caring and we want to promote the 
            continual development of the Web. To this end, 
            people are free to fork our code and use it as they see 
            fit to make their own sites. 
        </p>

        <em>Why should I join ePIK?</em>
        <p>
            We care about your privacy. We don't use 
            targetted advertising, collect your usage data,
            or use your data for anything not specific to ePIK 
            itself. We're different from Facebook and Twitter in 
            that we have stricter <a href="{% url 'comm-guide' %}">Community Guidelines</a>
            to ensure quality and safety for all users, have no interest
            in your personal data (other than keeping it safe!), and our 
            site is designed so that you see what's most important to you
            on your homepage--not just what's trending. 
        </p>

    </div>

    <div class="content-section">
        <h4>Site Rules</h4>
        <p>
            Please see our <a href="{% url 'comm-guide' %}">Community Guidelines</a> before you register to make 
            sure you understand the expected behavior on our site. <strong>Failure
            to follow the rules can result in account deletion</strong>.
        </p>
    </div>
{% endblock content %}
