{% extends 'blog/base.html' %}
{% block content %}
    <h1>Community Guidelines</h1>
    <div class="content-section">
        <h4 class="text-primary">
            Here at ePIK, we want this place to be safe for 
            every user. 
        </h4>
        <hr>
        <h5 class="text-muted">
            It's unfortunate that we live in a 
            world where these things have to be said, but
            here we are. For this reason, we have established
            the rules below.
        </h5>
    </div>

    <div class="content-section">
        <h3><strong>Rule 1 - No Hate</strong></h3>
        <hr>
        <h5 class="text-danger"><strong>THIS IS THE MOST IMPORTANT RULE!</strong></h5>
        <p>
            Under <strong>NO</strong> circumstances will cyberbullying, making personal information public for malevolent use, trolling, hate-speech,
            discrimination on the basis of race, sexual orientation, gender, disability, etc, or otherwise hurtful behavior be tolerated. 
        </p>
        <p class="text-danger">
            <strong>Any account that engages in hateful activity will be DELETED without warning.</strong>
        </p>
        <p>
            <strong>No hate. No exceptions.</strong>
        </p>
    </div>

    <div class="content-section">
        <h3><strong>Rule 2 - No Illegal Activity</strong></h3>
        <hr>
        <p>
            Illegal activity includes, but is not limited to:
            <ul>
                <li>Distribution or sales of illegal drugs</li>
                <li>Gambling</li>
                <li>Hacking Websites and Servers</li>
                <li>The distribution of underage pornography</li>
                <li>Encouraging illegal activity</li>
            </ul>
        </p>
        <p>
            In order to keep the site safe and avoid lawsuits, we cannot allow any illegal activity.
            Not only is it against the law, but in many cases it is immoral.
        </p>
        <p class="text-danger">
            <strong>Any account that engages in illegal activity will be DELETED without warning.</strong>
        </p>
    </div>

    <div class="content-section">
        <h3><strong>Rule 3 - No Pornography</strong></h3>
        <hr>
        <p>
            Pornography is images or videos of a sexually explicit nature or <strong>links to pornographic content</strong>.
        </p>
        <p class="text-danger">
            <strong>Any account that posts any kind of pornography will be DELETED without warning.</strong>
        </p>
        <p>
            However, talking about sex is not against the rules--as long as it isn't hateful.
        </p>
    </div>

    <div class="content-section">
        <h3><strong>Rule 4 - No Asking for Site Admin Permissions</strong></h3>
        <hr>
        <h5>
            Stop trying to make it happen. It's never going to happen. If you ask an
            admin to give you those permissions, your request will be ignored. <strong class="text-danger">If you start drama about it, then your account will be DELETED.</strong>
        </h5>
    </div>

    <div class="content-section">
        <h3><strong>Rule 5 - No Spam</strong></h3>
        <hr>
        <p>
            Repetitive posts, nonsensical character strings, and advertising products without permission will not be tolerated.
        </p>
        <p class="text-danger">
            <strong>If you do not adjust your posting behavior, your account will be DELETED.</strong>
        </p>
    </div>

    <div class="content-section">
        <h5>
            As you can see, our rules are pretty simple, but they are NOT negotiable. Follow them or you will not be allowed to participate in discussions on ePIK!
        </h5>
    </div>
{% endblock content %}