{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <h4 class="text-primary">@{{ user.username }}</h4>
                <em><h6 class="text-secondary">{{ user.profile.tagline }}</h6></em>
            </div>
        </div>

        <div class="content-section">
            <h4>About Me</h4>
            <p>{{ user.profile.bio }}</p>
        </div>

        <div class="content-section">
           <h5>View my website: <a class="text-primary" href="{{ user.profile.website }}">{{ user.profile.website }}</a></h5>
        </div>

        <a class="btn btn-info mb-4" href="{% url 'user-posts' user.username %}">View your posts</a>
        

        <!-- enctype important for images-->
        {% if user.is_authenticated %}
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Your Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        {% endif %}

    </div>
{% endblock content %}